body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.iconoCarritoIndex {
    cursor: pointer;
}

.contenedor-marcas-perfumes {
    background-color: #497D74;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    row-gap: 15px;
    column-gap: 15px;
}

.cuadro-marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 80px;
    padding: 1rem;
    gap: 0.5rem;
    transition: transform 1.5s ease;
    cursor: pointer;
}

.cuadro-marcas:hover {
    transform: scale(1.05);
}

.imagen-marcas-perfumes {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%; 
    background-color: white;
}

.cuadro-marcas h3 {
    margin-top: 0.5rem;
    text-align: center;
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.cuadro-marcas a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}


@media (max-width: 1024px) {
    .contenedor-marcas-perfumes {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-portada {
        min-height: 20rem;
    }
}

@media (max-width: 600px) {
    .contenedor-marcas-perfumes {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .img-portada {
        min-height: 20rem;
    }
}


/*------TIENDA GENERAL ESTILO------*/
.contenedor-tienda-General {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    row-gap: 15px;
    column-gap: 15px;
}

.cuadro-perfumes-General {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.ch-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.cuadro-perfumes-General h3 {
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 1rem;
}

.cuadro-perfumes-General span {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

.img-con-overlay {
    position: relative;
    width: fit-content;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: opacity 0.3s ease;
}

.img-con-overlay:hover .overlay {
    opacity: 1;
}

.boton-carrito,
.boton-vista {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-family: monospace;
}

.boton-carrito {
    background-color: #27ae60;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.boton-vista {
    background-color: #f39c12;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.img-con-overlay:hover .boton-carrito {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
}

.img-con-overlay:hover .boton-vista {
    background-color: #f39c12;
    opacity: 1;
    transform: translateY(0);
}

.boton-vista:hover {
    background-color: #d68910;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-contenido {
    width: 60rem;
    height: 36rem;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #e3f0e8;
    margin: 10px;
}

@media (max-width:700px) {
    .modal-contenido {
        height: 97vh;
        width: 97vw;
    }
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 40px;
    color: #df0e0e;
}

@media (max-width: 1024px) {
    .contenedor-tienda-General {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .contenedor-tienda-General {
        grid-template-columns: 1fr;
    }
}

/*------ESTILOS VISTA PREVIA------*/
.contenedor-vistaPrevia {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: 100%;
    margin-top: 1rem;
    padding: 20px;
    background-color: #ffffff;
}

.imagen-vistaPrevia {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-vistaPrevia {
    width: 100%;
    height: 95%;
}

.informacion-vistaPrevia {
    border: 3px solid rgb(214, 214, 189);
    margin-left: 10px;
    width: 50%;
    padding: 10px;
    font-family: monospace;
    overflow-y: auto;
    max-height: 100%;
    box-sizing: border-box;
    background-color: rgb(214, 214, 189);
}

.informacion-vistaPrevia::-webkit-scrollbar {
    display: none;
}

.titulo-infoVistaPrevia {
    font-family: monospace;
    font-size: 1.7rem;
    font-weight: bold;
}

.informacion-vistaPrevia p,
.informacion-vistaPrevia span {
    font-size: 1rem;
}


@media (max-width:700px) {
    .contenedor-vistaPrevia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagen-vistaPrevia {
        min-height: 320px;
        min-width: 350px;
    }

    .informacion-vistaPrevia {
        width: 100%;
    }
}

/*Agregar al carrito - Vista previa*/

.contenedor-carrito-vistaPrevia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.contador {
    display: flex;
    align-items: center;
    border: 1px solid #497D74;
    border-radius: 5px;
    width: 5rem; height: 3rem;
    justify-content: space-between;
    overflow: hidden;
}

.izquierda-cuadro-VistaPrevia {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #497D74;
}

.derecha-cuadro-VistaPrevia {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #497D74;
}

.btn-vistaPrevia-agregarAlCarrito {
    background-color: #d68910;
    padding: 14px;
    cursor: pointer;
    height: auto;
}

.contador button {
    cursor: pointer;
    height: 100%; width: 100%;
}

.contador button:hover {
    background-color: #27ae60;
}

/*-----CARRITO DE COMPRAS----- */
.carrito-lateral {
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    padding: 15px;
    background-color: #f4f4f4;
    display: none;
    width: 25rem;
    height: 100%;
    z-index: 9999;
    scrollbar-width: none; 
}

.carrito-lateral.active {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.carrito-lateral ul {
  padding: 0;
}

.carrito-lateral li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.carrito-lista-scroll {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carrito-lista-scroll::-webkit-scrollbar {
    display: none;
}

.contenedor-cerrar-titulo-carritoCompra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-carritoCompra {
   font-weight: bold;
   font-size: 1.5rem;
}

.cerrar-carritoCompra {
    cursor: pointer;
    font-size: 1.5rem;
}

.contenedor-totalPrecio-carritoCompra {
    font-size: 1.3rem;
    display: flex;
}

.btn-finalizarCompra {
    background-color: #27ae60;
    padding: 10px;
    border-radius: 30px;
    margin-top: 35px;
    cursor: pointer;
    font-size: 1.1rem;
}

/*-----Estilos para las imagenes en el carrito de compra-----*/
.producto-contenedor-carritoCompra {
    background-color: white;
    display: flex;
    border-radius: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    height: 95px;
}

.caja-img-carrito {
    width: 40%;
}

.caja-nombre-carrito {
    width: 100%;
    margin-left: 0.2rem;
}

.estilo-img-carrito {
    width: 100%;
    object-fit: cover;
}

.nombreProducto-carrito {
    font-size: 1.01rem;
}

.icono-eliminarProductoCarrito {
    margin-left: 1rem;
    cursor: pointer;
}

/*-----Fondo oscuro-----*/
.fondo-oscuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9998; 
  display: none;
}

.fondo-oscuro.active {
  display: block;
}

/*-----Contador carrito-----*/
.numeroContadorCantidadProductos-desktop,
.numeroContadorCantidadProductos-mobile {
    position: absolute;
    font-size: 10px;
    top: 15px;
    color: magenta;
}

/*-----Mensaje "Se añadio al carrito"-----*/
.mensaje-carrito {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745; /* verde éxito */
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}

.mensaje-carrito.visible {
    opacity: 1;
}

.oculto {
    display: none;
}
